# Compiled boot sector code
# includes the UEFI bios64.bin
*.bin

# Bochs config file
bochsrc

# Object files
*.o

# Iso
iso/
*.iso

# clangd
compile_commands.json
.cache/

# UEFI
*.EFI

# Binary files
*.img
*.elf
